

#checkout-main {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    overflow-y: auto; /* Permite que el contenedor principal tenga la barra de desplazamiento */
}

#fill-info-checkout {
    display: flex;
    flex-direction: column;
    height: auto; /* Ajusta la altura automáticamente */
}

#brief-cart-checkout {
    background-color: #452b1a;
    color: white;
    height: 160vh; /* Ajusta la altura automáticamente */
}

.brief-inner-box {
    margin: 6rem 0 0 2rem;
    width: 75%;
    height: auto; /* Ajusta la altura automáticamente */
}

.cart-brief {
    max-height: 55%;
    width: 100%;
    overflow-y: auto; /* Permite que el contenedor del resumen del carrito tenga una barra de desplazamiento si es necesario */
}

/* Otros estilos se mantienen igual */
.apply-code-brief {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 2rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.apply-code-brief input {
    padding: 1rem;
    border-radius: 6px;
    width: 80%;
    height: 50px;
    font-size: 15px;
    color: black;
}

.apply-code-brief button {
    background-color: #746053;
    padding: 1rem;
    border-radius: 6px;
    width: 15%;
    height: 50px;
    font-size: 15px;
}

.subtotal-and-shipping-brief {
    display: flex;
    padding: 2rem 0;
    border-bottom: 1px solid grey;
    justify-content: space-between;
}

.subtotal-and-shipping-brief div:nth-child(1), .subtotal-and-shipping-brief div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: lightgray;
    font-size: 15px;
}

.total-brief {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;
    gap: 1rem;
    color: lightgray;
    color: white;
}

.total-brief p span {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.total-brief p {
    font-size: 15px;
    color: lightgrey;
}

.total-brief p:first-child {
    color: white;
    font-size: 20px;
}

.cart-brief-image {
    width: 95%;
    height: 95%;
    border-radius: 12px;
}

.img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    background-color: #fff;
    border-radius: 12px;
}

.brief-product {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.cart-brief div:last-child {
    padding-bottom: 1rem;
}

.brief-product div:last-child p {
    font-size: 15px;
    font-weight: 600;
}

.product-brief {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    margin-left: 1rem;
}

.product-brief p:first-child {
    font-weight: 600;    
    font-size: 16px;
}
.product-brief p:last-child {
    font-size: 12px;
    color: lightgray;
}
 
.bubble-amount {
    background-color: grey;
    opacity: .8;
    font-weight: bold;
    position: relative;
    left: 5.8rem;
    bottom: 2.8rem;
    border-radius: 100%;
    height: 20px;
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
} 


.info-form-container {
    margin-left: 12rem;
    margin-right: 6rem;
    height: auto; /* Ajusta la altura automáticamente */
}

.logo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  height: 18%; 
}

#form {
    border-bottom: 1px solid lightgray;
    height: auto; /* Ajusta la altura automáticamente */
    display: flex;
    flex-direction: column;
    align-items: start;
}

#form input {
    height: 40px;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: 15px;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 1rem;
}

.contact-form label:first-child {
    font-size: 20px;
    margin-bottom: 1rem;
}

.email-me-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    font-size: 12px;
    color: gray;
    margin-top: .5rem;
}

.email-me-box input, #text-offers {
    width: 20px;
    margin-right: .5rem;
}

.shipping-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 1rem;
}

.shipping-form label:first-child {
    font-size: 20px;
    margin-bottom: 1rem;
}

#select-country {
    width: 100%;
    padding: 10px;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    appearance: none; /* hide default arrow */
    line-height: 1.5;
}

#select-country option {
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
}

#select-country:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#select-country {
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.1 4.8"><path d="M2 4.8L0 2.8.6 2 2 3.4 3.4 2l.6.7L2 4.8z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px 10px;
    padding-right: 30px;
}

#select-country::-ms-expand {
    display: none;
}

.names, .zip-and-city {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#first-name, #last-name, #zip-code, #city {
    width: 49%;
}

#address, #apartment {
    margin-bottom: 1rem;
}

.text-box {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: grey;
}

.to-shipping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.return-to-cart {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.return-to-cart p span {
    font-weight: bold;
    font-size: 18px;
}

#btn-submit {
    background-color: #452b1a;
    color: white;
    padding: 2rem;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
}

#btn-submit:hover {
    background-color: black;  
}

#footer-checkout {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 4rem;
}